body{
  font-family: Raleway;
  color: black;
  padding: 0%;
  margin: 0%;
}

#top{
  background-color: yellow;
}
img {
  height: 100%;
  width: 100%;
}

#photo{
  width: 600px;
  height: 300px;
  border: 2px solid #ccc;
}

#middle{
  background-color: red;
}

#footer{
  background-color: blue;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
}