@keyframes move {
  from {
      left: 30%;
  }
  to {
      left: 0%;
  }
}

body{
  font-family: Garamond; 
  color: black; 
  padding: 0%; 
  margin: 0%;
}

#nav  {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: yellow; width: 100%; height: auto;
}

#logo {
  position: relative;
  animation-name: move;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  padding: 10px;
}

a {
  text-decoration: none;
}

#links{
  width: 40px; 
  height: 40px; 
  padding: 10px;
}